form{
    display: flex;
    border: 3px solid #333;
    width: 50%;
    padding: 20px;
    margin: auto;
    flex-direction: column;
    background-color: blanchedalmond;
}
form .group1{
    margin: 4px;
}
form .group1 label{
    padding: 12px 14px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 20px;
}
.group1 input{
    padding: 10px 14px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: aquamarine;
    align-self: center;
}
.group3{
    padding: 22px;


    
}
